<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{fragments :: page_head('Customers - Shoptech Admin', 'none')}">
<body>
<div class="container-fluid">
    <div th:replace="~{navigation :: menu}"></div>
    <div>
        <h1>Manage Customers</h1>
        <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
            <a th:href="@{/customers/export/csv}" class="fas fa-file-csv fa-2x icon-dark mr-2"></a>
            <a th:href="@{/customers/export/excel}" class="fas fa-file-excel fa-2x icon-dark mr-2"></a>
            <a th:href="@{/customers/export/pdf}" class="fas fa-file-pdf fa-2x icon-dark"></a>
        </th:block>
    </div>

    <div th:replace="~{fragments :: search_form_and_message}"></div>

    <div class="full-details">
        <table class="table table-bordered table-striped table-hover table-responsive-xl">
            <thead class="thead-dark">
            <tr>
                <th th:replace="~{fragments :: column_link('id', 'ID', 'none')}"></th>
                <th th:replace="~{fragments :: column_link('firstName', 'First Name', 'none')}"></th>
                <th th:replace="~{fragments :: column_link('lastName', 'Last Name', 'none')}"></th>
                <th:block class="hideable-column">
                    <th th:replace="~{fragments :: column_link('email', 'Email', 'none')}"></th>
                </th:block>
                <th:block class="hideable-column">
                    <th th:replace="~{fragments :: column_link('city', 'City', 'none')}"></th>
                </th:block>
                <th:block class="hideable-column">
                    <th th:replace="~{fragments :: column_link('state', 'State', 'none')}"></th>
                </th:block>
                <th th:replace="~{fragments :: column_link('country', 'Country', 'none')}"></th>
                <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                    <th>Enabled</th>
                </th:block>
                <th th:replace="~{fragments :: column_link('createdAt', 'Created At', 'none')}"></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="customer: ${listCustomers}">
                <td>[[${ customer.id }]]</td>
                <td>[[${ customer.firstName }]]</td>
                <td>[[${ customer.lastName }]]</td>
                <td class="hideable-column">[[${ customer.email }]]</td>
                <td class="hideable-column">[[${ customer.city }]]</td>
                <td class="hideable-column">[[${ customer.state }]]</td>
                <td>[[${ customer.country.name }]]</td>
                <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                    <td>
                        <div th:replace="~{fragments :: status(${customer.enabled}, 'customer', '/customers/' + ${customer.id})}"></div>
                    </td>
                </th:block>
                <td>[[${#dates.format(customer.createdAt, 'dd-MM-yyyy HH:mm:ss')}]]</td>
                <td>
                    <a class="fas fa-file-alt fa-2x icon-green link-detail"
                       th:href="@{'/customers/detail/' + ${customer.id}}"
                       title="View details of this customer"></a>
                    <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor', 'Salesperson')">
                        &nbsp;
                        <div th:replace="~{fragments :: edit('product', '/customers/edit/' + ${customer.id})}"></div>
                    </th:block>
                    <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                        &nbsp;
                        <div th:replace="~{fragments :: delete('customer', ${customer.id}, '/customers/delete/' + ${customer.id}, true)}"></div>
                    </th:block>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="less-details">
        <div th:each="customer: ${listCustomers}" class="row m-1">
            <div class="col-4">
                <span><b>[[${ customer.fullName }]]</b></span>
            </div>
            <div class="col-8">
                <div class="mb-1">
                    <span>[[${ customer.country.name }]]</span>
                </div>
                <div>
                    <div th:replace="~{fragments :: status(${customer.enabled}, 'customer', '/customers/' + ${customer.id})}"></div>
                    <a class="link-detail"
                       th:href="@{'/customers/detail/' + ${customer.id}}">
                    </a>
                    <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor', 'Salesperson')">
                        &nbsp;
                        <div th:replace="~{fragments :: edit('customer', '/customers/edit/' + ${customer.id})}"></div>
                    </th:block>
                    <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                        &nbsp;
                        <div th:replace="~{fragments :: delete('customer', ${customer.id}, '/customers/delete/' + ${customer.id}, true)}"></div>
                    </th:block>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="~{fragments :: pagination('customers')}"></div>
</div>

<div th:replace="~{modal_fragments :: confirm_modal}"></div>

<div class="modal fade" id="detailModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content"></div>
    </div>
</div>

<div th:replace="~{fragments :: footer}"></div>

</body>
<script th:src="@{/js/common_list.js}"></script>
<script>
    moduleURL = "[[@{/customers}]]";

    $(document).ready(function(){
        $(".link-delete").on("click", function(e){
            e.preventDefault();

            showDeleteConfirmModal($(this), "customer");
        });

        $('.link-detail').click(function(e){
            e.preventDefault();
            linkDetailURL = $(this).attr("href");
            $("#detailModal").modal("show").find(".modal-content").load(linkDetailURL);
        });
    });
</script>
</html>