<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: page_head('Search Product', 'none')}"></head>
<body>
<div class="container-fluid">
    <div>
        <form th:action="@{/orders/search_product}" method="POST" class="form-inline my-2">
            <input type="search" name="keyword" class="form-control mr-sm-2"
                   th:value="${keyword}"
                   placeholder="Product name" required>
            <input type="submit" class="btn btn-primary" value="Search">
        </form>
    </div>

    <div class="row">
        <th:block th:each="product : ${listProducts}">
            <div class="col">
                <div>
                    <a href="" class="linkProduct" th:pid="${product.id}">
                        <img th:src="@{${product.mainImagePath}}" height="150">
                        <br>
                        <b th:id="'pname' + ${product.id}">[[${ product.shortName }]]</b>
                    </a>
                </div>
            </div>
        </th:block>
    </div>
    <div th:replace="modal_fragments :: modal_dialog"></div>
    <div th:replace="~{fragments :: pagination('products')}"></div>
</div>
<script th:src="@{/js/common_form.js}"></script>
<script>
    $(document).ready(function(){
       handleLinkProduct();
    });

    function handleLinkProduct(){
        $(".linkProduct").on("click", function(e){
            e.preventDefault();
            let productId = $(this).attr("pid");
            let productName = $('#pname' + productId).text();

            if(window.parent.isProductAlreadyAdded(productId)){
                showWarningModal("The Product '" + productName + "' was already added.");
            }else{
                window.parent.addProduct(productId, productName);
            }
        });
    }
</script>
</body>
</html>