<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <head th:replace="~{fragments :: page_head(${pageTitle}, 'tag')}"></head>
    <link rel="stylesheet" th:href="@{/richtext/richtext.min.css}">
    <script th:src="@{/richtext/jquery.richtext.min.js}"></script>
</head>
<body>
<div class="container-fluid">
    <div th:replace="~{navigation :: menu}"></div>
    <div class="text-center">
        <h1>Manage Product | [[${pageTitle}]]</h1>
    </div>
    <form th:action="@{/products/save}" th:object="${product}" method="post"
            enctype="multipart/form-data"
            onsubmit="return checkUnique(this)">
        <input type="hidden" th:field="*{id}">
        <input th:if="${product.category}" type="hidden" id="categoryId" name="category" th:value="${product.category.id}">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" data-toggle="tab" data-target="#overview" type="button" role="tab">Overview</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" data-toggle="tab" data-target="#description" type="button" role="tab">Description</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" data-toggle="tab" data-target="#images" type="button" role="tab">Images</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" data-toggle="tab" data-target="#details" type="button" role="tab">Details</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" data-toggle="tab" data-target="#shipping" type="button" role="tab">Shipping</button>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active p-3" id="overview" role="tabpanel">
                <div th:replace="~{products/product_overview :: content}"></div>
            </div>
            <div class="tab-pane" id="description" role="tabpanel">
                <th:block th:if="${isReadonlyForSalesperson}">
                    <div th:replace="~{products/product_description_read_only :: content}"></div>
                </th:block>
                <th:block th:unless="${isReadonlyForSalesperson}">
                    <div th:replace="~{products/product_description :: content}"></div>
                </th:block>
            </div>
            <div class="tab-pane" id="images" role="tabpanel">
                <th:block th:if="${isReadonlyForSalesperson}">
                    <div th:replace="~{products/product_images_read_only :: content}"></div>
                </th:block>
                <th:block th:unless="${isReadonlyForSalesperson}">
                    <div th:replace="~{products/product_images :: content}"></div>
                </th:block>
            </div>
            <div class="tab-pane" id="details" role="tabpanel">
                <th:block th:if="${isReadonlyForSalesperson}">
                    <div th:replace="~{products/product_details_read_only :: content}"></div>
                </th:block>
                <th:block th:unless="${isReadonlyForSalesperson}">
                    <div th:replace="~{products/product_details :: content}"></div>
                    <div>
                        <input type="button" class="btn btn-secondary"
                               onclick="addNextDetailSection()"
                               value="Add More Detail">
                    </div>
                </th:block>
            </div>
            <div class="tab-pane p-3" id="shipping" role="tabpanel">
                <th:block th:if="${isReadonlyForSalesperson}">
                    <div th:replace="~{products/product_shipping_read_only :: content}"></div>
                </th:block>
                <th:block th:unless="${isReadonlyForSalesperson}">
                    <div th:replace="~{products/product_shipping :: content}"></div>
                </th:block>
            </div>
        </div>

        <div class="text-center">
            <input type="submit" value="Save" class="btn btn-primary m-3">
            <input type="button" value="Cancel" class="btn btn-secondary" id="buttonCancel">
        </div>
    </form>
</div>

<div th:replace="~{modal_fragments :: modal_dialog}"></div>

<div th:replace="~{fragments :: footer}"></div>

</body>
<script>
    let moduleURL = "[[@{/products}]]";
    let brandModuleURL = "[[@{/brands}]]";
    MAX_FILE_SIZE = 512000; // 500KB
    defaultImageThumbnailSrc = "[[@{/images/image-thumbnail.png}]]"
    checkUniqueUrl = "[[@{/products/check_unique}]]";
</script>
<script th:src="@{/js/product_form_overview.js}"></script>
<script th:src="@{/js/product_form_images.js}"></script>
<script th:src="@{/js/product_form_details.js}"></script>
<script th:src="@{/js/common_form.js}"></script>
</html>