<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="fragments :: page_head('Categories - Shopme Admin', 'none')">
<body>
<div class="container-fluid">
    <div th:replace="navigation :: menu"></div>
    <div>
        <h1>Manage Categories</h1>
        <a th:href="@{/categories/new}" class="fas fa-folder-plus fa-2x icon-dark mr-2"></a>
        <a th:href="@{/categories/export/csv}" class="fas fa-file-csv fa-2x icon-dark mr-2"></a>
    </div>

    <div th:replace="fragments :: search_form_and_message"></div>

    <div class="full-details">
        <table class="table table-bordered table-striped table-hover table-responsive-xl">
            <thead class="thead-dark">
            <tr>
                <th:block class="hideable-column">
                    <th th:replace="fragments :: column_link('id', 'ID', 'none')"></th>
                </th:block>
                <th>Category Image</th>
                <th:block class="hideable-column">
                    <th th:replace="fragments :: column_link('name', 'Category Name', 'none')"></th>
                </th:block>
                <th>Alias</th>
                <th>Parent</th>
                <th>Enabled</th>
                <th:block class="hideable-column">
                    <th th:replace="fragments :: column_link('createdAt', 'Created At', 'none')"></th>
                </th:block>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="category: ${listCategories}">
                <td>[[${ category.id }]]</td>
                <td>
                    <img th:src="@{${category.imagePath}}" alt="" style="width: 100px;" class="img-fluid">
                </td>
                <td>[[${ category.name }]]</td>
                <td>[[${ category.alias }]]</td>
                <td>[[${ category.parentBreadcrumb }]]</td>
                <td>
                    <div th:replace="fragments :: status(${category.enabled}, 'category', '/categories/' + ${category.id})"></div>
                </td>
                <td>[[${#dates.format(category.createdAt, 'dd-MM-yyyy HH:mm:ss')}]]</td>
                <td>
                    <div th:replace="fragments :: edit('category', '/categories/edit/' + ${category.id})"></div>
                    &nbsp;
                    <div th:replace="fragments :: delete('category', ${category.id}, '/categories/delete/' + ${category.id}, ${category.children.size <= 0})"></div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="less-details">
        <div th:each="category : ${listCategories}" class="row m-1">
            <div class="col-4">
                <span th:if="${category.image == null}" class="fa-solid fa-file-image fa-3x icon-silver"></span>
                <img th:unless="${category.image == null}" th:src="@{${category.imagePath}}" alt="" style="width: 100px;"/>
            </div>
            <div class="col-8">
                <div>[[${category.name}]]</div>
                <div>[[${category.parentBreadcrumb}]]</div>
                <div class="mt-2">
                    <a th:href="@{'/categories/edit/' + ${category.id}}"><i class="fa-solid fa-pen-to-square fa-2x icon-green"></i></a>
                    &nbsp;
                    <a class="link-delete" th:entityId="${category.id}" th:href="@{'/categories/delete/' + ${category.id}}"><i class="fa-solid fa-trash fa-2x icon-dark"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments :: pagination('categories')"></div>

</div>

<div th:replace="modal_fragments :: confirm_modal"></div>

<div th:replace="fragments :: footer"></div>

</body>
<script th:src="@{/js/common_list.js}"></script>
<script>
    let moduleURL = "[[@{/categories}]]";

    $(document).ready(function(){
        $(".link-delete").on("click", function(e){
            e.preventDefault();

            showDeleteConfirmModal($(this), "category");
        });
    });
</script>
</html>